@font-face {
  font-family: "iconfont"; /* Project id 2930123 */
  src: url('../fonts/iconfont.woff2?t=1636597185219') format('woff2'),
       url('../fonts/iconfont.woff?t=1636597185219') format('woff'),
       url('../fonts/iconfont.ttf?t=1636597185219') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cc-arrow-down:before {
  content: "\e606";
}

.icon-cc-arrow-up:before {
  content: "\e60f";
}

.icon-narrow:before {
  content: "\e711";
}

.icon-arrow_right_arrow_left:before {
  content: "\e60e";
}

.icon-arrow_up_arrow_down:before {
  content: "\e612";
}

.icon-adjust:before {
  content: "\e666";
}

.icon-discount:before {
  content: "\e675";
}
